.bills-accordion {
    .accordion-content {
        display: flex;
        flex-direction: column;
        @media (min-width: 992px) {
            flex-direction: row;
            gap: 1rem;
        }
    }
}